<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425270527605-ambja9q63i25s96p95o1mlpskr25gf8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425270527605-ambja9q63i25s96p95o1mlpskr25gf8d</string>
	<key>API_KEY</key>
	<string>AIzaSyCYnYDxB-AGhFZ-qf_Urrz0MV3BmyxLiCU</string>
	<key>GCM_SENDER_ID</key>
	<string>425270527605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-f0e98</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-f0e98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425270527605:ios:e84d9d99f730fc52501a3c</string>
</dict>
</plist>